
*.vsidx
*.v2
*.v2
*.v2
Craft-beer-backend/.vs/Craft-beer-backend/v17/.futdcache.v2
Craft-beer-backend/.vs/Craft-beer-backend/DesignTimeBuild/.dtbcache.v2
Craft-beer-backend/.vs/Craft-beer-backend/v17/HierarchyCache.v1.txt
Craft-beer-backend/.vs/ProjectEvaluation/craft-beer-backend.projects.v7.bin
Craft-beer-backend/.vs/Craft-beer-backend/v17/.suo
Craft-beer-backend/.vs/Craft-beer-backend/DesignTimeBuild/.dtbcache.v2
