<style>
    footer{
        position:fixed!important;
    }
</style>

<div style="
            display: flex;
            padding-top:20%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          " id="end">
    <div class="end-window">
        <p>Все пройшло успішно, а тепер Ваше замовлення опрацьовується.</p>
    </div>
    <a href="/account/orders" style="color: #3e280e; font-size: large; margin-top: 20px">
        Переглянути мої
        замовлення
    </a>
</div>

<script>
    localStorage.removeItem('shopping-cart');
</script>