
.container {
    margin-top: 50px;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);  */
    gap: 20px;
    justify-content: space-between;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    padding-left: 30px;
    padding-right: 30px;
}

.item-margin {
    margin: 30px 10px;
}

.item-container {
    width: 270px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-photo {
    width: 60%;
    position: relative;
    bottom: 20px;
}

.hr-item {
    width: 95%;
    margin: 0;
    margin-bottom: 15px;
}

.beer-description {
    display: flex;
    flex-direction: column;
    width: 80%;
}

    .beer-description p {
        margin: 0;
    }

.item-name {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px !important;
}

.item-proof {
    margin-bottom: 10px !important;
}

.bottom-div {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 15px;
    justify-content: space-between;
}

.item-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .item-icons i {
        margin: 10px;
    }

.item-cost {
    font-size: 20px;
    margin: 0;
}

i.fa {
    cursor: pointer;
    user-select: none;
}

/* basket animation */
@keyframes pulse {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.2);
    }

    90% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.0);
    }
}

.pulse-animation {
    animation: pulse 0.8s;
}