body {
    margin: 0;
    height:100%;
}
html {
    height: 100%;
}
header {
    background-color: #65451F;
    height: 75px;
}

h1 {
    width: 200px;
    padding-top: 10px;
    color: #fff;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    margin-top: 10px;
}

.logo-img {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.button {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.sign-in-button {
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

    .sign-in-button:hover {
        background-color: #65451F;
        color: #C8AE7D;
        border: 1px solid #C8AE7D;
    }

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-between; */
}

.main-menu {
    list-style-type: none;
    padding: 2px;
    margin: 10px 15px 10px 15px;
    display: flex;
    margin-right: 250px;
}
.my-page-btn-div {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.logout-btn-div {
    float: right;
    margin-top: 30px;
    margin-right: 15px;
}

.my-page-button {
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.logout-button {
    font-size: large;
    border-radius: 7px;
    color: #C8AE7D;
    padding: 10px 20px;
    background-color: #65451F;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #C8AE7D
}

    .logout-button:hover {
        background-color: #fff;
        color: #65451F;
        border: 1px solid #3E280E;
    }

.my-page-button:hover {
    background-color: #65451F;
    color: #C8AE7D;
    border: 1px solid #C8AE7D;
}

.main-menu-link {
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-size: large;
}

    .main-menu-link:hover {
        border-bottom: solid #65451F 3px;
    }

.search-form {
    align-self: center;
    margin-top: 4px;
    background-color: #f5f5f5;
    align-items: center;
    margin-bottom: 6px;
    border-radius: 5px;
    margin-right: 20%;
}

#search-form {
    width: 400px;
    height: 30px;
    font-size: large;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: none;
    padding: 2px;
    padding-left: 10px;
    overflow: hidden;
    outline: none;
}

.search-btn {
    height: 30px;
    border: none;
    padding: 10px;
    background-color: lightgray;
}

.cart-shopping {
    margin-left: 15px;
    margin-top: 31px;
    float: right;
}


    /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #C8AE7D;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #65451F;
    border-radius: 3px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #3E280E;
    }





footer {
    border-top: 3px solid #3E280E;
    height: 70px;
     /*position: fixed;*/ 
    bottom: 0;
    width: 100%;
    margin-top: 70px;
}

.footer-text {
    margin-top: 30px;
    margin-left: 25px;
    position: relative;
    color: black;
    width: 300px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.footer-icons {
    color: black;
    width: 300px;
    position: relative;
    text-align: right;
    float: right;
    font-size: xx-large;
    margin: 0 20px 0 0;
    margin-top: 20px;
    margin-right: 30px;
}

  /* MODAL */

  .modal {
    display: none; 
    position: fixed; 
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content h2{

    color: #65451F;
    font-family: 'Montserrat', sans-serif;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0px 3px 2px 2px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    place-items: center;
    text-align: center;
    text-decoration: none;
}
.modal-content input:focus{
    outline: none;
    background-color: #F5F5F5;
}
.modal-content a:visited{
    color: #65451F;
}
.sign-in-form{
    height: 45px;
    width: 70%;
    font-size: 20px;
    margin: 15px;
    border:none;
    border-bottom: solid 3px ;
    color: #65451F;
}
.sign-up-form{
    height: 45px;
    width: 70%;
    font-size: 20px;
    margin: 15px;
    border:none;
    border-bottom: solid 3px ;
    color: #65451F;
}
.modal-content .button{
    margin-top: 60px;
}
.login-link {
    margin-top: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}
a:not([href]):not([tabindex]) {
    color: #65451F;
}
.error-text {
    color: red;
    font-size: 14px;
}
.sign-button {
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #F5F5F5;
    text-decoration: none;
    border: solid 2px #65451F;
    border-radius: 20px;
    padding: 10px 30px;
    margin-left: 25px;
    margin-right: 32px;
    font-family: 'Montserrat', sans-serif;
}
.reg{
    margin-top: 25px;
    text-decoration: none;
    color: #65451F;
}
.sign-button:hover{
    background-color: #C8AE7D;
}