html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #65451F;
    height: 75px;
}

h1 {
    font-size: 2em !important;
    font-weight: bold !important;
    padding-top: 10px;
    color: #fff;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.main-logo {
    margin-top: 10px;
    color: #fff;
}

.logo-img {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.button {
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}

/* MY PAGE/LOGOUT BUTTONS STYLE */

.my-page-btn-div {
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}

.logout-btn-div {
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}

.my-page-button {
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.logout-button {
    font-size: large;
    border-radius: 7px;
    color: #C8AE7D;
    padding: 10px 20px;
    background-color: #65451F;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #C8AE7D
}

    .logout-button:hover {
        background-color: #fff;
        color: #65451F;
        border: 1px solid #3E280E;
    }

.my-page-button:hover {
    background-color: #65451F;
    color: #C8AE7D;
    border: 1px solid #C8AE7D;
}

.sign-in-button {
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

    .sign-in-button:hover {
        background-color: #65451F;
        color: #C8AE7D;
        border: 1px solid #C8AE7D;
    }

.main-menu {
    list-style-type: none;
    padding: 2px;
    margin: 10px 15px 10px 15px;
    /* margin-top: 10px; */
    display: flex;
}

.main-menu-link {
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-size: large;
}

    .main-menu-link:hover {
        border-bottom: solid #65451F 3px;
    }

#btn-search {
    border-color: #65451F;
    color: #65451F;
}

    #btn-search:hover {
        color: #f5f5f5;
        background-color: #8a6c47;
        border: none;
    }

#search:focus {
    box-shadow: 0px 0px 5px 1px #65451F;
    border-color: transparent;
}



/* -------- */
.first-block {
    /* border: 1px solid black; */
    width: 35%;
    padding: 0;
}

.second-block {
    width: 50%;
    padding: 0;
}


.form-select {
    box-shadow: none !important;
}

    .form-select:focus {
        border-color: black !important;
    }

.input-new-customer {
    width: 75%;
    height: 80%;
    font-size: medium;
    border-radius: 5px;
    border: 1px solid #4f300a;
    padding-left: 10px;
}

    .input-new-customer:focus {
        background-color: #F5F5F5;
        outline: none !important;
    }

.save-new-custumer-btn {
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
    width: fit-content;
    border: 2px solid #4f300a;
    font-size: larger;
    border-radius: 5px;
}

    .save-new-custumer-btn:hover {
        background-color: #DECAA4;
    }

.span-names {
    border-bottom: 2px solid #4f300a;
}

.table-items div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: larger;
}

.table-items img {
    width: 40%;
    height: 65%;
    border: 2px solid black;
}

.minus {
    width: 40px;
    border: 1px solid #4f300a;
    font-weight: 600;
    color: #F5F5F5;
    background-color: #4f300a;
}

.plus {
    width: 40px;
    font-weight: 600;
    color: #F5F5F5;
    border: 1px solid #4f300a;
    background-color: #4f300a;
}

    .plus:hover {
        cursor: pointer;
    }

.minus:hover {
    cursor: pointer;
}

.litres {
    width: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.first-main-container {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second-main-container {
    flex: 1 1 auto;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.final-cost {
    justify-content: flex-end;
    margin-top: 15px;
    border-bottom: 2px solid #4f300a;
}

    .final-cost p {
        font-size: 20px;
        margin-right: 10px;
    }

.next-step-div {
    height: fit-content;
    /* margin-top: 70px;
    display: flex;
    justify-content: center; */
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.next-step-btn {
    display: flex;
    justify-content: center;
    border: 2px solid #3E280E;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #DECAA4;
    color: #4f300a;
    border-radius: 5px;
    font-weight: 400;
}

    .next-step-btn:hover {
        cursor: pointer;
    }

@media only screen and (max-width: 1060px) {
    .first-main-container {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .first-block {
        margin-bottom: 20px;
        width: 50%;
    }

    .second-block {
        overflow-y: visible;
    }

    .second-main-container {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .del-company {
        /* width: auto; */
        flex-wrap: wrap;
    }

    .delivery-method {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.header-span {
    margin-bottom: 15px;
}

.first-column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.second-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.adress input {
    width: 100%;
    height: 80%;
    font-size: medium;
    border-radius: 5px;
    border: 1px solid #4f300a;
    padding-left: 10px;
}

.adress input {
    background-color: #F5F5F5;
    outline: none !important;
}

.del-company {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

    .del-company div {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        background-color: #d9d9d98b;
        border: 1px solid #d9d9d906;
        padding: 0.5rem;
        align-items: center;
    }

    .del-company p {
        margin: 0;
    }

.form-check {
    display: flex !important;
    align-items: center;
}

    .form-check .form-check-input {
        margin-right: 10px;
    }



.bank-card {
    width: 60%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

    .bank-card p {
        margin: 0;
    }

#card-num {
    width: 100% !important;
}

.bank-card input {
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
    border: 1px solid #4f300a;
    padding-left: 10px;
    background-color: #F5F5F5;
}

    .bank-card input:focus {
        background-color: #F5F5F5;
        outline: none !important;
    }

.order-btn {
    border: 2px solid #3E280E;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #DECAA4;
    color: #4f300a;
    border-radius: 5px;
    font-weight: 400;
}

    .order-btn:hover {
        cursor: pointer;
    }

.end-window {
    margin-top: 50px;
    padding: 40px 50px 40px 50px;
    background-color: #DECAA4;
    border-radius: 5px;
}

    .end-window p {
        font-size: 25px;
        color: #3E280E;
        margin: 5px;
    }


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #C8AE7D;
}

::-webkit-scrollbar-thumb {
    background: #65451F;
    border-radius: 3px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #3E280E;
    }
