<link rel="stylesheet" href="/css/aboutus.css">

<div class="head-container" style="position:relative">
    <p class="head-text">Приєднуйтесь до SipSociety<br> та отримуйте найкраще!</p>
    <img class="head-img" src="../img/шапка.png" alt="">
</div>
<div class="about-div" style="margin:30px 0">
    <h2 class="about-h2">AboutUs</h2>
</div>
<div class="aboutUs">
    <div class="about-container">
        <img class="about-img" src="../img/about us.jpg" alt="">
        <p class="about-p">
            SipSociety - це місце, де справжні поціновувачі <br> пива можуть знайти свій ідеальний смак.<br> Наш інтернет-магазин пропонує широкий<br> вибір різних сортів крафтового пива, щоб<br> кожен міг знайти щось особливе і<br> неповторне для себе.
            <br>
            Наш інтернет-магазин пива - це зручний і<br> надійний спосіб замовити ваші улюблені сорти<br> пива прямо до дому.
            <br>
            Ми горді тим, що пропонуємо вам вищу якість<br> пива від найкращих виробників.<br> Кожна пляшка або банка - це справжній<br> шедевр в світі пивоваріння. <br>
            <a class="katal-button" href="/">Перейти до каталогу</a>
        </p>
    </div>
</div>
<h2 class="advantages-h2">Переваги</h2>
<div class="div-icon">
    <div class="icon-container">
        <img src="../img/basket.png" class="icon-1">
        <p class="all-icon-text icon1-text">Широкий асортимент</p>
    </div>
    <div class="icon-container">
        <img src="../img/якість.png" class="icon-2">
        <p class="all-icon-text icon2-text">Відмінна якість</p>
    </div>
    <div class="icon-container">
        <img src="../img/piggi_bank.png" class="icon-3">
        <p class="all-icon-text icon3-text">Доступні ціни</p>
    </div>
    <div class="icon-container">
        <img src="../img/delivery.png" class="icon-4">
        <p class="all-icon-text icon4-text">Швидка доставка</p>
    </div>
</div>
<h2 class="advantages-h2">
    <br>
    <br>
    Замовляй своє улюблене пиво просто зараз, та отримуй<br> можливість насолоджуватися найкращими смаками світу<br> пива!
    <br>
    <br>
</h2>
