<h1>This is my cart</h1>
<button id="clear-cart">Clear</button>
<ul id="cart-items"></ul>
<p id="empty-cart-message">Nothing in the cart.</p>
<p id="total-price">Total Price: $<span id="total-price-span"></span></p>
<button id="make-order" class="btn btn-primary">Оформити замовлення</button>
<script src="~/js/home_cart.js"></script>
