<style>
    .divItem {
        padding-left: 15px;
        padding-top: 30px;
    }

    footer{
        position:fixed!important;
    }
</style>

<div style="margin-top:15%">
    <h2 class="divItem">Ви можете зв'язатися з членами команди за телеграм тегом:</h2>
    <h3>Backend developer #1: Мосійчук Юрій Олегович <a href="https://t.me/rewqla">https://t.me/rewqla</a></h3>
    <h3>Backend developer #2: Фугель Владислав Валентинович <a href="https://t.me/Valadij">https://t.me/Valadij</a></h3>
    <h3>Frontend developer #1: Ящук Віталій Петрович <a href="https://t.me/Vitalik_Ya">https://t.me/Vitalik_Ya</a></h3>
    <h3>Frontend developer #2: Осадець Олександра Романівна <a href="https://t.me/sasha_osadets">https://t.me/sasha_osadets</a></h3>
    <h3>Python developer #1: Ющук Олег Ярославович <a href="https://t.me/oleh_yushchuk">https://t.me/oleh_yushchuk</a></h3>
</div>