body {
  margin: 0;
}
header {
  background-color: #65451f;
  height: 75px;
}

h1 {
  font-size: 2em !important;
  font-weight: bold !important;
  padding-top: 10px;
  color: #fff;
  float: left;
  font-family: "Montserrat", sans-serif;
}

.main-logo {
  margin-top: 10px;
  color: #fff;
}
.logo-img {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.my-page-btn-div {
  float: right;
  margin-top: 25px;
  margin-right: 30px;
}
.logout-btn-div {
  float: right;
  margin-top: 25px;
  margin-right: 15px;
}
.my-page-button {
  font-size: large;
  border-radius: 7px;
  color: #3e280e;
  padding: 10px 20px;
  background-color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.logout-button {
  font-size: large;
  border-radius: 7px;
  color: #c8ae7d;
  padding: 10px 20px;
  background-color: #65451f;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #c8ae7d;
}
.logout-button:hover {
  background-color: #fff;
  color: #65451f;
  border: 1px solid #3e280e;
}
.my-page-button:hover {
  background-color: #65451f;
  color: #c8ae7d;
  border: 1px solid #c8ae7d;
}
.main-menu {
  list-style-type: none;
  padding: 2px;
  margin: 10px 15px 10px 15px;
  /* margin-top: 10px; */
  display: flex;
}
.main-menu-link {
  margin-right: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #65451f;
  font-size: large;
}
.main-menu-link:hover {
  border-bottom: solid #65451f 3px;
}
#btn-search {
  border-color: #65451f;
  color: #65451f;
}
#btn-search:hover {
  color: #f5f5f5;
  background-color: #8a6c47;
  border: none;
}
#search:focus {
  box-shadow: 0px 0px 5px 1px #65451f;
  border-color: transparent;
}

footer {
  position: absolute;
  border-top: 3px solid #3e280e;
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 70px;
}
.footer-text {
  margin-top: 30px;
  margin-left: 25px;
  position: relative;
  color: black;
  width: 300px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
}
.footer-icons {
  color: black;
  width: 300px;
  position: relative;
  text-align: right;
  float: right;
  font-size: xx-large;
  margin: 0 20px 0 0;
  margin-top: 20px;
  margin-right: 30px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c8ae7d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #65451f;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e280e;
}

.product {
  display: flex;
  align-items: center;
  border-bottom: solid 2px #7f7f7f;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
}

.product img {
  max-width: 100px;
  margin-right: 10px;
}

.product label {
  margin-right: 10px;
}

.total {
  margin-top: 20px;
}
.text-lab {
  text-align: center;
}
.label-text {
  text-align: center;
  padding-left: 20px;
}
.button-minus {
  background-color: #8a6c47;
  border-radius: 10px;
  width: 40px;
  margin-left: 100px;
  float: right;
}
.main-center {
  display: grid;
  justify-content: center;
}
.main-container {
  text-align: center;
  width: 800px;
}

.product-container {
  display: grid;
  justify-content: center;
}
.categ-basket {
  display: inline-flex;
  border-bottom: solid 2px #7f7f7f;
  width: 800px;
  padding-left: 80px;
}
.product-img {
  padding: 10px 20px 10px;
  border: solid 3px black;
}
.checkbox {
  margin-right: 20px;
  margin-left: 20px;
}
h2 {
  border-bottom: solid 2px #7f7f7f;
}
.container-total {
  float: left;
  width: 200px;
}
.buy-container {
  display: grid;
  justify-content: center;
}
.button-buy {
  width: 200px;
  border: solid 2px #8a6c47;
  background-color: #c8ae7d;
  padding: 8px 5px;
  border-radius: 3px;
}
