body{
    margin: 0;
}
header{
    background-color: #65451F;
    height: 75px;
}

h1{
    font-size: 2em !important;
    font-weight: bold !important;
    padding-top: 10px;
    color: #fff;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.main-logo{
    margin-top: 10px;
    color: #fff;
}
.logo-img{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.my-page-btn-div{
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}
.logout-btn-div{
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}
.my-page-button{
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.logout-button{
    font-size: large;
    border-radius: 7px;
    color: #C8AE7D;
    padding: 10px 20px;
    background-color: #65451F;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #C8AE7D
}
.logout-button:hover{
    background-color: #fff;
    color: #65451F;
    border: 1px solid #3E280E;
}
.my-page-button:hover{
    background-color: #65451F;
    color: #C8AE7D;
    border: 1px solid #C8AE7D;
}
.main-menu {
    list-style-type: none;
    padding: 2px;
    margin: 10px 15px 10px 15px;
    /* margin-top: 10px; */
    display: flex;
}
.main-menu-link{
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-size: large;
    
}
.main-menu-link:hover{
    border-bottom: solid #65451F 3px;
}
#btn-search{
    border-color: #65451F;
    color: #65451F;
}
#btn-search:hover{
    color: #f5f5f5;
    background-color: #8a6c47;
    border: none;
}
#search:focus {
box-shadow: 0px 0px 5px 1px #65451F;
border-color: transparent;
}

footer{
    border-top: 3px solid #3E280E ;
    height: 70px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    margin-top: 70px;
}
.footer-text{
    margin-top: 30px;
    margin-left: 25px;
    position: relative;
    color: black;
    width: 300px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.footer-icons{
    color: black;
    width: 300px;
    position: relative;
    text-align: right;
    float: right;
    font-size: xx-large;
    margin: 0 20px 0 0;
    margin-top: 20px;
    margin-right: 30px;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #C8AE7D;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #65451F;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3E280E;
  }


.img-beerinfo{
    border: solid 3px black;
    height: 500px;
    width: 500px;
    text-align: center;
    display:flex;
    justify-content: center;
    margin-right: 20px;
    
}
.text-beerinfo{
    margin-left: 20px;
    background-color: #F5F5F5;
    padding: 50px;
}
.container1-beerinfo{
    display: grid;
    justify-content: center;
    margin-top: 70px;
}
.container2-beerinfo{
    display: flex;
}
.rating {
    font-size: 0;
  }
  
  .star {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../img/Star\ 1.png'); /* Посилання на зображення незаповненої зірки */
    background-size: cover;
    cursor: pointer;
  }
  
  .star:hover {
    background-image: url('../img/Star\ 1\ \(1\).png'); /* Посилання на зображення заповненої зірки */
  }
  .container-button {
    display: flex;
    align-items: center;
    font-size: 24px;
  
    width: 148px;
}
.main-container-button{
    display: flex;
}
.container-buy-button{
    margin-left: 90px;
   
}
.buy-button{
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    color: #8a6c47;
    background-color: #F5F5F5;
    border: solid 3px;
}

button {
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #8a6c47;
    color: #F5F5F5;
}

#value {
    margin: 0 20px;
}
@media only screen and (max-width: 859px) {
    .img-beerinfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid black;
        align-items: center;
        height: 300px;
        margin: 0;
        width: 550px;
        margin-bottom: 10px;
    }
    .text-beerinfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        align-items: center;
        height: 400px;
   
    justify-content: center;
    }
    .container2-beerinfo{
        display: inline;
    }
}
