body{
    margin: 0;
}
header{
    background-color: #65451F;
    height: 75px;
}

h1{
    font-size: 2em !important;
    font-weight: bold !important;
    padding-top: 10px;
    color: #fff;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.main-logo{
    margin-top: 10px;
    color: #fff;
}
.logo-img{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.button{
    float: right;
    margin-top: 25px;
    margin-right: 30px;

}

/* MY PAGE/LOGOUT BUTTONS STYLE */

.my-page-btn-div{
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}
.logout-btn-div{
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}
.my-page-button{
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.logout-button{
    font-size: large;
    border-radius: 7px;
    color: #C8AE7D;
    padding: 10px 20px;
    background-color: #65451F;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #C8AE7D
}
.logout-button:hover{
    background-color: #fff;
    color: #65451F;
    border: 1px solid #3E280E;
}
.my-page-button:hover{
    background-color: #65451F;
    color: #C8AE7D;
    border: 1px solid #C8AE7D;
}

.sign-in-button{
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.sign-in-button:hover{
    background-color: #65451F;
    color: #C8AE7D;
    border: 1px solid #C8AE7D;
}
.main-menu {
    list-style-type: none;
    padding: 2px;
    margin: 10px 15px 10px 15px;
    /* margin-top: 10px; */
    display: flex;
}
.main-menu-link{
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-size: large;
    
}
.main-menu-link:hover{
    border-bottom: solid #65451F 3px;
}
#btn-search{
    border-color: #65451F;
    color: #65451F;
}
#btn-search:hover{
    color: #f5f5f5;
    background-color: #8a6c47;
    border: none;
}
#search:focus {
box-shadow: 0px 0px 5px 1px #65451F;
border-color: transparent;
}
.container{
    margin-top: 50px;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);  */
    gap: 20px;
    justify-content: space-between;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    padding-left: 30px;
    padding-right: 30px;

}
.item-margin{
    margin: 30px 10px;
}

.item-container{
    width: 270px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-photo{
    width: 60%;
    position: relative;
    bottom: 20px;
}
.hr-item{
    width: 95%;
    margin: 0;
    margin-bottom: 15px;
}
.beer-description{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.beer-description p{
    margin: 0;
}
.item-name{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px !important;
}
.item-proof{
    margin-bottom: 10px !important;
}
.bottom-div{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 15px;
    justify-content: space-between;
}
.item-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.item-icons i{
    margin: 10px;
}
.item-cost{
    font-size: 20px;
    margin: 0;
}
i.fa {
  cursor: pointer;
  user-select: none;
}

/* basket animation */
@keyframes pulse {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1.2);
    }
    90% {
      transform: scale(0.9);
    }
    100%{
        transform: scale(1.0);
    }

  }
.pulse-animation {
    animation: pulse 0.8s;
  }


footer{
    border-top: 3px solid #3E280E ;
    height: 70px;
    bottom: 0;
    width: 100%;
    margin-top: 70px;
}
.footer-text{
    margin-top: 30px;
    margin-left: 25px;
    position: relative;
    color: black;
    width: 300px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.footer-icons{
    color: black;
    width: 300px;
    position: relative;
    text-align: right;
    float: right;
    font-size: xx-large;
    margin: 0 20px 0 0;
    margin-top: 20px;
    margin-right: 30px;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #C8AE7D;
  }
  ::-webkit-scrollbar-thumb {
    background: #65451F;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3E280E;
  }


   /* MODAL FOR REGISTRATION/AUTHORIZATION */

   .modal {
    display: none; 
    position: fixed; 
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    /* width: 100%; */
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content h2{

    color: #65451F;
    font-family: 'Montserrat', sans-serif;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px !important;
    height: 600px;
    background-color: #fff;
    box-shadow: 0px 3px 2px 2px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    place-items: center;
    text-align: center;
    text-decoration: none;
}
.modal-content input:focus{
    outline: none;
    background-color: #F5F5F5;
}
.modal-content a:visited{
    color: #65451F;
}
#sign-in-form{
    height: 45px;
    width: 70%;
    font-size: 20px;
    margin: 15px;
    border:none;
    border-bottom: solid 3px ;
    color: #65451F;
}
#sign-up-form{
    height: 45px;
    width: 70%;
    font-size: 20px;
    margin: 15px;
    border:none;
    border-bottom: solid 3px ;
    color: #65451F;
}
.modal-content .button{
    margin-top: 60px;
}
#sign-in-link{
    margin-top: 20px;
}
#reg-link{
    margin-top: 20px;
}
.sign-button{
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #F5F5F5;
    text-decoration: none;
    border: solid 2px #65451F;
    border-radius: 20px;
    padding: 10px 30px;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
}
.reg{
    margin-top: 25px;
    text-decoration: none;
    color: #65451F;
}
.sign-button:hover{
    background-color: #C8AE7D;
}