body{
    margin: 0;
}
header{
    background-color: #65451F;
    height: 75px;
}

h1{
    font-size: 2em !important;
    font-weight: bold !important;
    padding-top: 10px;
    color: #fff;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.main-logo{
    margin-top: 10px;
    color: #fff;
}
.logo-img{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.my-page-btn-div{
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}
.logout-btn-div{
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}
.my-page-button{
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.logout-button{
    font-size: large;
    border-radius: 7px;
    color: #C8AE7D;
    padding: 10px 20px;
    background-color: #65451F;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #C8AE7D
}
.logout-button:hover{
    background-color: #fff;
    color: #65451F;
    border: 1px solid #3E280E;
}
.my-page-button:hover{
    background-color: #65451F;
    color: #C8AE7D;
    border: 1px solid #C8AE7D;
}
.main-menu {
    list-style-type: none;
    padding: 2px;
    margin: 10px 15px 10px 15px;
    /* margin-top: 10px; */
    display: flex;
}
.main-menu-link{
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-size: large;
    
}
.main-menu-link:hover{
    border-bottom: solid #65451F 3px;
}
#btn-search{
    border-color: #65451F;
    color: #65451F;
}
#btn-search:hover{
    color: #f5f5f5;
    background-color: #8a6c47;
    border: none;
}
#search:focus {
box-shadow: 0px 0px 5px 1px #65451F;
border-color: transparent;
}

footer{
    position: absolute;
    border-top: 3px solid #3E280E ;
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 70px;
    background-color: #f5f5f5;
}
.footer-text{
    margin-top: 30px;
    margin-left: 25px;
    position: relative;
    color: black;
    width: 300px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.footer-icons{
    color: black;
    width: 300px;
    position: relative;
    text-align: right;
    float: right;
    font-size: xx-large;
    margin: 0 20px 0 0;
    margin-top: 20px;
    margin-right: 30px;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #C8AE7D;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #65451F;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3E280E;
  }

  .product {
    display: flex;
    align-items: center;
    border-bottom:solid 2px #7F7F7F;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 800px;
}

.product img {
    max-width: 100px;
    margin-right: 10px;
}

.product label {
    margin-right: 10px;
}

.total {
    margin-top: 20px;
}
.text-lab{
    text-align: center;
}
.label-text{
    text-align: center;
    padding-left: 20px;
}
.button-add{
    background-color: #ffff;
    border:none;
    width: 40px;
    margin-left: 100px;
    float: right;    
}
.main-center{
    display: grid;
    justify-content: center;
}
.main-container{
    text-align: center;
    width: 800px;
}

.product-container{
    display: grid;
    justify-content: center;
}
.categ-basket{
    display:inline-flex;
    border-bottom:solid 2px #7F7F7F;
    width: 800px;
    padding-left: 80px;
}
.product-img{
    padding: 10px 20px 10px;
    border:solid 3px black;
}
h2{
    border-bottom:solid 2px #7F7F7F;
}
.container-total{
    float: left;
    width: 200px;

}
.buy-container{
    display: grid;
    justify-content: center;
}
.button-buy{
    width: 200px;
    border:solid 2px #8a6c47;
    background-color: #C8AE7D;
    padding: 8px 5px;
    border-radius: 3px;
}
.hr-item{
    width: 95%;
    margin: 0;
    margin-bottom: 15px;
}
.item-name{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px !important;
}
.item-proof{
    margin-bottom: 10px !important;
}
.bottom-div{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 15px;
    justify-content: space-between;
}
.item-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.item-icons i{
    margin: 10px;
}
.item-cost{
    font-size: 20px;
    margin: 0;
}
i.fa {
  cursor: pointer;
  user-select: none;
}

.confirmation-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 40px 20px;
    background-color:#C8AE7D; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px;
    border-radius: 5px;
    animation: fadeInOut 2s ease-out;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.cart-shopping{
    text-decoration: none;
}
html, body{
    height: 100%;
    }
.wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
}
.minus {
    width: 40px;
    border: 1px solid #4f300a;
    font-weight: 600;
    color: #F5F5F5;
    background-color: #4f300a;
}
.plus {
    width: 40px;
    font-weight: 600;
    color: #F5F5F5;
    border: 1px solid #4f300a;
    background-color: #4f300a;
}
.plus:hover{
    cursor: pointer;
}
.minus:hover{
    cursor: pointer;
}
.litres{
    width: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

