body{
    margin: 0;
}
header{
    background-color: #65451F;
    height: 75px;
}

h1{
    font-size: 2em !important;
    font-weight: 600 !important;
    padding-top: 10px;
    color: #fff;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    margin-top: 10px;
}
.logo-img{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.button{
    float: right;
    margin-top: 30px;
    margin-right: 30px;

}
.sign-in-button{
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    /* box-shadow: 0px 3px 0px rgb(0, 0, 0, 0.4); */
    font-family: 'Montserrat', sans-serif;
}
.sign-in-button:hover{
    background-color: #65451F;
    color: #C8AE7D;
    border: 1px solid #C8AE7D;
}
.main-menu {
    list-style-type: none;
    padding: 2px;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}
.main-menu-link{
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-size: large;
    
}
.main-menu-link:hover{
    border-bottom: solid #65451F 3px;
}
.head-img{
    width: 100%;
    height: 488px;
}
.head-text{
    display: flex;
    text-align: right;
    position: absolute;
    float: right;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size:xx-large;
    margin-top: 350px;
    margin-left: 950px;
}
ul{
    margin-bottom: 5px;
}
.about-h2{
    text-align: center;
    font-size:xx-large;
    color: #65451F;
    font-weight: normal;
}
.about-img{
    float: left;
    margin-right: 20px;
    width: 600px;
}
.about-p{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}
.aboutUs{
    display: grid;
    place-items: center;
}
.about-container{
    width: 1200px;
}
.katal-button{
    color: #65451F;
    text-decoration: none;
}
.katal-button:hover{
    color: black;
    text-decoration: underline;
}

.advantages-h2{
    margin-top: 100px;
    text-align: center;
    /* font-size:xx-large; */
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-weight: normal;
    font-size: 25px;
}
.div-icon {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
}
  
.icon-container {
    margin-top: 40px;
    text-align: center; 
}
  
.all-icon-text {
    margin-top: 10px; 
}
.all-icon-text{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #3E280E;
}
.icon-1, .icon-2, .icon-3, .icon-4{
    height: 210px;
    width: 250px;
}
footer{
    border-top: solid #3E280E 3px;
    height: 70px;
}
.footer-text{
    margin-top: 30px;
    margin-left: 25px;
    position: relative;
    color: black;
    width: 300px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.footer-icons{
    color: black;
    width: 300px;
    position: relative;
    text-align: right;
    float: right;
    font-size: xx-large;
    margin: 0 20px 0 0;
    margin-top: 20px;
    margin-right: 30px;

}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #C8AE7D;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #65451F;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3E280E;
  }

  /* MODAL FOR REGISTRATION/AUTHORIZATION */

  .modal {
    display: none; 
    position: fixed; 
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content h2{

    color: #65451F;
    font-family: 'Montserrat', sans-serif;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0px 3px 2px 2px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    place-items: center;
    text-align: center;
    text-decoration: none;
}
.modal-content input:focus{
    outline: none;
    background-color: #F5F5F5;
}
.modal-content a:visited{
    color: #65451F;
}
#sign-in-form{
    height: 45px;
    width: 70%;
    font-size: 20px;
    margin: 15px;
    border:none;
    border-bottom: solid 3px ;
    color: #65451F;
}
#sign-up-form{
    height: 45px;
    width: 70%;
    font-size: 20px;
    margin: 15px;
    border:none;
    border-bottom: solid 3px ;
    color: #65451F;
}
.modal-content .button{
    margin-top: 60px;
}
#sign-in-link{
    margin-top: 20px;
}
#reg-link{
    margin-top: 20px;
}
.sign-button{
    font-size: large;
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #F5F5F5;
    text-decoration: none;
    border: solid 2px #65451F;
    border-radius: 20px;
    padding: 10px 30px;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
}
.reg{
    margin-top: 25px;
    text-decoration: none;
    color: #65451F;
}
.sign-button:hover{
    background-color: #C8AE7D;
}