body{
    margin: 0;
}
header{
    background-color: #65451F;
    height: 63px;
}

h1{
    width: 250px;
    padding: 10px;
    color: #fff;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    margin: 0;
}
.logo-img{
    float: left;
    margin-right: 10px;
}
.button{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.sign-in-button{
    border-radius: 7px;
    color: #3E280E;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0px 3px 0px rgb(0, 0, 0, 0.4);
    font-family: 'Montserrat', sans-serif;
}
.main-menu {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
    display: flex;
}
.main-menu-link{
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-size: large;
    
}
.main-menu-link:hover{
    border-bottom: solid #65451F 3px;
}
.head-img{
    width: 100%;
    height: 488px;
}
.head-text{
    display: flex;
    text-align: right;
    position: absolute;
    float: right;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size:xx-large;
    margin-top: 380px;
    margin-left: 1100px;
}
ul{
    margin-bottom: 5px;
}
.about-h2{
    text-align: center;
    font-size:xx-large;
    color: #65451F;
    font-weight: normal;
}
.about-img{
    float: left;
    margin-right: 20px;
    width: 600px;
}
.about-p{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}
.aboutUs{
    display: grid;
    place-items: center;
}
.about-container{
    width: 1200px;
}
.button-katal{
    display: grid;
    place-content: center;
    margin-top:20px;
}
.katal-button{
    border-radius: 14px;
    border: solid #3E280E 1px;
    color: #3E280E;
    padding: 20px 30px;
    background-color: #C8AE7D;
    text-decoration: none;
    box-shadow: 0px 3px 0px rgb(0, 0, 0, 0.4);
    font-family: 'Montserrat', sans-serif;
}
.advantages-h2{
    margin-top: 60px;
    text-align: center;
    font-size:xx-large;
    font-family: 'Montserrat', sans-serif;
    color: #65451F;
    font-weight: normal;
}
.div-icon {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
}
  
.icon-container {
    margin-top: 40px;
    text-align: center; 
}
  
.all-icon-text {
    margin-top: 10px; 
}
.all-icon-text{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #3E280E;
}
.icon-1, .icon-2, .icon-3, .icon-4{
    height: 249px;
    width: 286px;
}
footer{
    border-top: solid #3E280E 3px;
}
.footer-text{
    position: relative;
    color: black;
    width: 300px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.footer-icons{
    color: black;
    width: 300px;
    position: relative;
    text-align: right;
    float: right;
    font-size: xx-large;
    margin: 0 20px 0 0;
}