@model string

<h3>Необхідно бути авторизованим</h3>
<div class="button" id="LoginButton" style="width:500px;height:100px;">
    <a class="sign-in-button" style="font-size:40px;border-color: #65451F;
    border-style: solid;
}">Увійти</a>
</div>

<script>

        var LoginButton = document.getElementById("LoginButton");

    // Додавання обробника подій для кліку
    LoginButton.addEventListener("click", function () {
        var modal = document.getElementById("sign-in-modal");
        modal.style.display = "flex";
    });

</script>