@{
    var returnUrl = ViewBag.returnUrl;
    if (String.IsNullOrEmpty(returnUrl))
        returnUrl = "/Home/Index";
}
<style>
    .content {
        display: flex;
        justify-content: center;
    }
    .log-out-div {
        padding: 15px;
        border: 2px solid #65451F;
        border-radius: 5px;
        background-color: #C8AE7D;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        color: #65451F;
    }

        .log-out-div button {
            width: 60px;
            border-radius: 5px;
        }

    #yes-btn {
        background-color: #f5f5f5;
        border: 1px solid #65451F;
        color: #65451F;
    }

        #yes-btn:hover {
            background-color: #C8AE7D;
            border: 1px solid #f5f5f5;
            color: #f5f5f5;
        }

    #no-btn {
        background-color: #C8AE7D;
        border: 1px solid #f5f5f5;
        color: #f5f5f5;
        width: 60px;
        border-radius: 5px;
        text-align: center;
    }

        #no-btn:hover {
            background-color: #f5f5f5;
            border: 1px solid #65451F;
            color: #65451F;
        }
</style>
<div class="content">
    <div class="log-out-div">
        <p class="fs-5">Ви точно хочете вийти?</p>
        <div class="d-flex flex-row justify-content-around">
         <form asp-action="Logout" method="post">
            <button id="yes-btn">Так</button>
        </form>
        <a id="no-btn" href="@returnUrl">Ні</a>
        </div>
    </div>
    </div>