@model Craft_beer_backend.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}
<a href="   orders">Переглянути замовлення</a>
<form method="post" class="mt-3">
    <div class="form-group row">
        <input asp-for="Id" hidden class="form-control">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UserName" class="form-control">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <label asp-for="Password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="card">
        <div class="card-header"><h3>Users personal data</h3></div>
        <div class="card-body">
            <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <label asp-for="Birthday" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Birthday" class="form-control">
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-action="ListUsers" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>